---
// Layout
import BaseLayout from "@/layouts/BaseLayout.astro";
// Fundation
import Text from "@/components/fundations/elements/Text.astro";
import Button from "@/components/fundations/components/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import Free from "@/components/pricing/Free.astro";
import Faq from "@/components/infopages/Faq.astro";
import Sponsor from "@/components/pricing/Pro.astro";
import Team from "@/components/pricing/Team.astro";
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="pb-32 lg:pb-48 pt-12">
      <Text tag="h1" variant="displayXL" class="text-white font-medium">
        Membership
      </Text>
    </Wrapper>
  </section>
  <section x-data="{duration: 'monthly'}">
    <Wrapper variant="standard" class="pb-8">
      <div class="flex flex-col sm:flex-row w-full justify-between">
        <div
          aria-labelledby="pricing-toggle"
          class="w-full relative bg-base-800 overflow-hidden justify-center gap-2 mx-auto lg:mx-0 inline-flex p-1 rounded-full max-w-52 w-ful shadow z-0"
        >
          <!-- Sliding background -->
          <div
            class="absolute inset-0 bg-accent-600 rounded-full transition-transform duration-200 ease-in-out"
            :class="duration === 'monthly' ? 'w-1/2 translate-x-0' : 'w-1/2 translate-x-full'"
          >
          </div>
          <!-- Monthly Pricing Button -->
          <Button
            type="button"
            size="sm"
            variant="muted"
            id="monthly-pricing-button"
            :aria-pressed="duration === 'monthly'"
            @click="duration = 'monthly'"
            :class="duration === 'monthly' ? 'text-accent-500' : 'text-base-400 hover:text-accent-500'"
            class="relative flex items-center justify-center w-full px-2 h-6 text-xs font-medium focus:outline-none transition-colors duration-300 z-10 cursor-pointer"
          >
            Monthly
          </Button>
          <!-- Annual Pricing Button -->
          <Button
            type="button"
            size="sm"
            variant="muted"
            id="annual-pricing-button"
            @click="duration = 'annual'"
            :aria-pressed="duration === 'annual'"
            :class="duration === 'annual' ? 'text-accent-500' : 'text-base-400 hover:text-accent-500'"
            class="relative flex items-center justify-center w-full px-2 h-6 text-xs font-medium focus:outline-none transition-colors duration-300 z-10 cursor-pointer"
          >
            Annual
          </Button>
        </div>
      </div>

      <div
        class="grid grid-cols-1 gap-px sm:grid-cols-2 mt-2 lg:grid-cols-3 mx-auto"
      >
        <Free />
        <Sponsor />
        <Team />
      </div>
    </Wrapper>
  </section>

  <Faq />
</BaseLayout>
