---
// Layout
import BaseLayout from "./BaseLayout.astro";
// Fundation
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Frontmatter
const { frontmatter } = Astro.props;
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="pb-32 lg:pb-48 pt-12">
      <Text
        tag="h1"
        variant="displayXL"
        class="text-white font-medium lg:w-1/3"
      >
        {frontmatter.page}
      </Text>
      <Text tag="p" variant="textBase" class="mt-2 text-base-400 text-balance">
        Last upadated on {frontmatter.pubDate.toString().slice(0, 10)}
      </Text>
    </Wrapper>
  </section>

  <section>
    <Wrapper variant="standard" class="pb-8">
      <Wrapper variant="prose" class="max-w-xl"><slot /></Wrapper>
    </Wrapper>
  </section>
</BaseLayout>
